page-banking {
  .checkout-payment {
    padding: 8px !important;
    margin-top: 16px;
    .bankingcssClass {
      position: absolute;
      z-index: 1;
      height: 30px;
      opacity: 0.7;
      top: 0;
      right: 0;
    }
    .banking-padding {
      padding-left: 0px !important;
      .img-banking {
        width: 15vw;
      }
    }
    .img-size {
      max-width: 30%;
    }
    .font-payment {
      font-size: 4vw;
      margin-left: -4px;
    }
    .radio {
      margin: 0px !important;
    }
    .radio-icon {
      display: none !important;
    }
    .item {
      padding-right: 16px !important;
    }
    .item-inner {
      font-weight: 600 !important;
      padding: 0px !important;
    }
    .item-radio-checked.item ion-label.size {
      color: #6ddb9c;
    }
    .item-radio-checked.item {
      .item-cover {
        border: 1px solid #6ddb9c;
      }
    }
    .color {
      width: 22px !important;
      height: 22px !important;
      position: absolute;
    }
    .label {
      margin: 8px 0px 8px 0 !important;
    }
    .cssClass {
      position: absolute;
      z-index: 1;
      height: 30%;
      opacity: 0.7;
      top: 2px;
      right: 2px;
    }
    .payment-type {
      padding: 0px 0px 0px 0px !important;
      margin: 0px 0px 8px 0px !important;
      .item {
        padding: 0px !important;
      }
    }
    .item-label-stacked .text-input,
    .item-label-floating .text-input {
      margin-left: 0;
      margin-top: -10px;
      margin-bottom: 2px;
      width: calc(100% - 8px);
    }
    .input-list {
      ion-label {
        span {
          color: #F44336;
        }
      }
    }
  }
}
